@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-primary: #0f172a;
  --color-secondary: #64748b;
  --color-border: #e2e8f0;
  --color-accent: #3b82f6;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    @apply antialiased min-h-screen font-sans;
  }
}
